@{
    ViewBag.Title = "Tela de início";
}
<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-chart">
                <div class="card-header ">
                    <div class="jumbotron" style="background:transparent !important">
                        <h1>Enzo estoque</h1>
                        <p class="lead">Enzo estoque é um dos componentes, responsável em gerenciar o estoque de sua ERP</p>
                        <p><a href="https://asp.net" class="btn btn-primary btn-lg">learn more &raquo;</a></p>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <h2>Comece a integrar com sua ERP</h2>
                            <h4>
                               Siga o link para iniciar a sua integração, com sua ERP e ter todo o potencial de enzo estoque a sua disposição.
                            </h4>
                            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?linkid=301865">Saiba mais</a></p>
                        </div>
                        <div class="col-md-6">
                            <h2>Saiba mais sobre a empresa</h2>
                            <h4>Deseja conhecer um pouco mais sobre empresa que está gerenciando seu estoque siga esse link.</h4>
                            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?linkid=301866">Saiba mais &raquo;</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
